<div class="wrapper">
    <institute-podheader></institute-podheader>
    <div class="info-container">
        <span class="main-text">Контакты</span>
        <span class="less-text">
            Приемная комиссия представлена тремя офисами для поступающих на программы высшего образования.
            На программы среднего профессионального образования заявление можно подать по четырем адресам в зависимости
            от выбранного направления подготовки.</span>
        <span class="less-text">
            {{'SPO@GMAIL.COM'}}</span>
        <span class="less-text">
            {{'88005553535'}}</span>
    </div>
    <google-map width="100vh" [center]="{lat: 51.678418, lng: 7.809007}" [zoom]="8">
        <map-marker [position]="{lat: 51.678418, lng: 7.809007}"></map-marker>
    </google-map>
</div>
