.podheader {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;

    &-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        &-main {
            font-size: 46px;
            font-weight: 400;
            line-height: 64px;
            color: #000;
        }

        &-less {
            width: 285px;
            font-size: 25px;
            text-align: left;
            font-weight: 300;
            line-height: 36px;
            color: #212529;
        }
    }
}

.fixable-image {
    width: 246px;
    height: 246px;
}
