<div class="nav-body">
    <div class="nav-tab-menu">
        <div class="nav-tab">
            <p class="nav-tab-text" [routerLink]="['']">Главная</p>
            <span class="tab-active" [class.active]="isActive('/main')"></span>
        </div>
        <div class="nav-tab">
            <p class="nav-tab-text" [routerLink]="['advantages']">Преимущества</p>
            <span class="tab-active" [class.active]="isActive('/advantages')"></span>
        </div>
        <div class="nav-tab">
            <p class="nav-tab-text" [routerLink]="['contacts']">Контакты</p>
            <span class="tab-active" [class.active]="isActive('/contacts')"></span>
        </div>
        <div class="nav-tab">
            <p class="nav-tab-text" [routerLink]="['feedback']">Обратная связь</p>
            <span class="tab-active" [class.active]="isActive('/feedback')"></span>
        </div>
        <div class="nav-tab">
            <p class="nav-tab-text" [routerLink]="['personal-account']">Личный кабинет</p>
            <span class="tab-active" [class.active]="isActive('/personal-account')"></span>
        </div>
    </div>  
</div>