<main-modal></main-modal>

<div class="wrapper">
    <institute-podheader></institute-podheader>
    <div class="subject-container">
        <div class="subject" *ngFor="let subject of getAllSubjects()" (click)="openModal(subject.Id, subject.File)">
            <div class="subject-podheader">
                <img class="fixable-image subject-img" src="assets/images/{{subject.Type}}.png">
            </div>
            <span class="subject-text">{{subject.Text | uppercase}}</span>
        </div>
    </div>
</div>
