<div class="wrapper">
    <div class="account">
        <span class="main-text">Личный кабинет</span>
        <div class="info-box">
            <img class="profile-image" src="assets/images/tasty.jpg" alt="Профиль">
            <span class="teacher-name">Анна Смирнова Александровна</span>
        </div>
        <div class="description">
            <h3>Описание</h3>
            <p>Опытный и увлеченный преподаватель русского языка и литературы в средней школе. Окончила филологический
                факультет одного из ведущих университетов страны и посвятила себя обучению и воспитанию молодежи.
                Известна творческим подходом к обучению. Активно использует современные методы и технологии, чтобы
                сделать занятия интересными и познавательными. Ученики не только изучают грамматику и литературу, но и
                развивают критическое мышление и творческие способности через обсуждения, проекты и литературные
                конкурсы.
                Помимо преподавательской деятельности, Анна Смирнова активно участвует в школьной жизни: организует
                литературные вечера, проводит мастер-классы по писательскому мастерству и ведет школьный литературный
                клуб. Всегда готова поддержать и вдохновить учеников, помогая раскрыть их таланты и уверенность в себе.
                Ценит индивидуальный подход к каждому ученику, стараясь учитывать интересы и способности. Верит, что
                каждый ребенок может добиться успеха, если предоставить необходимые знания</p>
        </div>
        <div class="worldview">
            <h3>Взгляды на мир</h3>
            <p>ДПостоянное обучение, вдохновение и мотивация, индивидуальный подход, забота о будущем, сотрудничество и
                командная работа, творческий подход, эмоциональная поддержка, социальная ответственность, гибкость и
                адаптация, любовь к предмету.</p>
        </div>
        <div class="achievements">
            <h3>Достижения</h3>
            <p>
                Внедрила инновационные методы обучения, что значительно повысило успеваемость учащихся. Организовала и
                провела региональные педагогические конференции, привлекшие внимание коллег. Разработала авторскую
                учебную программу, признанную успешной на уровне школы и района. Участвовала в международных конкурсах и
                получила награды за педагогическое мастерство. Создала и ведет школьный кружок, способствующий развитию
                творческих способностей учащихся. Провела открытые уроки, получившие положительные отзывы от коллег и
                администрации. Активно участвует в проектах по повышению квалификации и профессиональному развитию.
                Воспитала победителей олимпиад и конкурсов в предметной области.
            </p>
        </div>
    </div>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                    <th>Успеваемость</th>
                    <th>Дата поступления</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let student of getAllStudents()" (click)="redirect()">
                    <td>{{ student.Id }}</td>
                    <td>{{ student.LastName }}</td>
                    <td>{{ student.FirstName }}</td>
                    <td>{{ student.MiddleName }}</td>
                    <td>{{ student.Performance }}</td>
                    <td>{{ student.AdmissionDate }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
