<div class="wrapper">
    <institute-podheader></institute-podheader>
    <div class="modal-window-feedback">
        <div class="modal-header">
            <p class="modal-headertext-style">Обратная связь</p>
        </div>
        <div class="modal-body">
            <div class="input-container">
                <input class="input-style" title="" type="text" required>
                <label class="placeholder-prompt">Имя</label>
            </div>
            <div class="input-container">
                <input class="input-style" title="" type="text" required>
                <label class="placeholder-prompt">Почта</label>
            </div>
            <div class="input-container">
                <textarea title="" class="description-input" required></textarea>
                <label class="placeholder-prompt">Сообщение</label>
            </div>
            <div class="modal-footer fix-footer">
                <button class="ok-button">Отправить</button>
            </div>
        </div>
    </div>
</div>
